# Dify API 配置
DIFY_API_URL=https://dify-dev.xtalpi.xyz/v1/workflows/run
DIFY_API_KEY=app-FcTZ4Sxmj3wBtUx69h9B83e9

# 应用配置
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Deep Research Pro

